  <div class="form" [formGroup]="dialogForm">
    <mat-form-field style="width:40%;height:0px;" class="example-full-width" appearance="outline" appearance="fill" >
        <mat-label>Account Name</mat-label>
        <input  type="email" matInput class="form-control" formControlName="accountName">
    </mat-form-field>
    
    <div class="example-full-width" style="margin-top:15px;">
    <label>Credentials</label>
  </div>
   
    <mat-form-field style="width:90%;height:5px;" class="example-full-width" appearance="outline" appearance="fill" >
        <mat-label>Email</mat-label>
        <input type="email" matInput class="form-control" formControlName="email">
        <mat-error *ngIf="dialogForm.controls['email'].hasError('email') && !dialogForm.controls['email'].hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="dialogForm.controls['email'].hasError('required')" style="color:rgb(183, 194, 24);" >
            Email is required
          </mat-error>   
    </mat-form-field><br>  
    
    <mat-form-field style="width:90%;height:10px;margin-top:20px;" class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" class="form-control" formControlName="password">
    </mat-form-field><br>
    
    <div class="example-full-width" style="margin-top:30px;">
    <label  >Incoming Server Details</label><br>
    </div>

    <mat-form-field style="width:45%;height:10px;" class="half-width" appearance="outline" appearance="fill" >
      <mat-label >Incoming Server</mat-label>
      <input type="text" matInput class="form-control" formControlName="incomingServer" >
    </mat-form-field>

    <mat-form-field style="width:45%;height:10px;" class="half-width" appearance="outline" appearance="fill" style="float: right;">
      <mat-label >Incoming Server Port</mat-label>
      <input type="text" matInput class="form-control" formControlName="incomingServerPort">
    </mat-form-field><br>

    <div class="example-full-width" style="margin-top:30px;">
       <label>Outgoing Server Details</label><br>
    </div>
    <mat-form-field style="width:45%;height:10px;" class="half-width" appearance="outline" appearance="fill" >
      <mat-label >Outgoing Server</mat-label>
      <input type="text" matInput class="form-control" formControlName="outgoingServer" >
    </mat-form-field>

    <mat-form-field style="width:45%;height:10px;" class="half-width" appearance="outline" appearance="fill"  style="float: right;">
      <mat-label >Outgoing Server Port</mat-label>
      <input type="text" matInput class="form-control" formControlName="outgoingServerPort">
    </mat-form-field><br>

    <div class="btn" style="background-color: black;">
      <button style="float:left;margin-right:300px;" mat-button mat-dialog-close [disabled]="dialogForm.invalid" (click)="saveaccount()">Save</button>
      <button style="float:right ;" mat-button mat-dialog-close (click)="delete()">Delete</button>
    </div>
</div>
<!-- style="color:white; -->