mat-label:hover{
    color:rgb(194,24,91);
    }
    .mat-input:hover{
        color:rgb(194,24,91);;
    }
    h1{
        font-size: xx-large;
       color: white;
    }
    .container{
        margin-left:300px;
        margin-top:50px;
    }
    .btn{
        color:rgb(194,24,91);
        border: 2px solid rgb(194,24,91);
        margin: 10px;
    }
    button:hover{
        background-color:rgb(194,24,91);
        color:white;
    }
    .bth:disabled{
        color:whitesmoke;
        border: 2px solid rgb(194,24,91);
        margin: 10px;
    }
    input{
        width:300px;
    }