<div class="container">
<h1>Login</h1>
 <form [formGroup]="loginForm">
    <mat-form-field class="example-full-width" appearance="outline" appearance="fill" >
      <mat-label style="color:white" >Email Address</mat-label>
      <input style="color:white" type="email" matInput class="form-control" formControlName="emailFormControl" placeholder="Ex. anything@example.com">
      <mat-error *ngIf="loginForm.controls['emailFormControl'].hasError('email') && !loginForm.controls['emailFormControl'].hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="loginForm.controls['emailFormControl'].hasError('required')" style="color:rgb(183, 194, 24);" >
        Email is required
      </mat-error>
    </mat-form-field><br>

    <mat-form-field appearance="fill">
        <mat-label style="color:white;">Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" style="color:white" class="form-control" formControlName="passwordFormControl">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon style="color:white;" >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field><br>
      <button class="btn" mat-stroked-button  routerLink="/accounts/register">Register</button>
      <button  class="btn" mat-stroked-button [disabled]="loginForm.invalid" routerLink="/mail" (click)="login()">Login</button>
  </form>
</div>

  