<mat-sidenav-container class="sidenav-container" style="background-color: rgb(26, 23, 23);">
  <mat-sidenav style="background-color: rgb(37, 37, 37);" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="color: white;" >Menu</mat-toolbar>
    <mat-nav-list >
      <a mat-list-item href="#" routerLink="/accounts">Login</a>
      <a mat-list-item href="#" routerLink="/accounts/register">Register</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color:rgb(194,24,91);">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" style="color: white;">menu</mat-icon>
      </button>
      <span style="color: white;">Mail Scheduler</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
